################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/angularapp/.vscode
/angularapp/obj/Debug
/webapi/bin/Debug/net7.0
/webapi/obj
/BL/obj
/DAL/obj
/DTO/obj
/models/obj
/BL/bin/Debug/net7.0
/DAL/bin/Debug/net7.0
/DTO/bin/Debug/net7.0
/models/bin/Debug/net7.0
/webapi/appsettings.Development.json
